
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: lightyellow;
    border-bottom: outset;
}

.nav-item {
    list-style: none;
    margin-left: -1em;
    margin-right: 1em;
    padding: 1em;
    border: 1px solid black;
    margin-bottom: 1em;
    color: black;
    background-color: lightyellow;
}
a {
    color: black;
    text-decoration: none;
}
.nav-item:hover {
    background-color: yellow;
}
.leftcontainer {
    border: outset;
    padding-bottom: 2em;
}
footer {
    margin-top: 8em;
    height: 3em;
    padding: 1em;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 2.5em;
}
@media only screen and (min-width: 400px) {
    .grids {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        border-bottom: outset;
    }
    .leftcontainer {
        border: outset;
        padding: 2em;
        height: 100%;
        min-height: 80vh;
    }
    .rightcontainer {
        padding: 2em;
    }
   
}
